<html>
    <head>
        <title>
            {% block title %}
                Home Server - Automation
            {% endblock %}
        </title>
    </head>

    <body>
        <h2> Welcome to the Home - Server </h2>
   </body>
</html>